:root {
    --cor-de-borda: rgba(59,228,246,255);
    --cor-de-fundo: rgba(59,228,246, 0.2);
    --cor-de-fundo2: rgba(2,24,58,0.7);
    --cor-de-textos: white;
    --cor-de-sombra: rgba(0, 0, 0, 0.7);
    --cor-de-hover: red;
}

body{
    background-image: url('../Imagens/backGround.jpg');
    background-size: cover;
}

/* ------------------------------------- CABEÇALHO(HEADER) ------------------------------------- */

.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    height: 60px;    
    background-image: url('../Imagens/header.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 30px;
    border: 1px solid var(--cor-de-borda);
}

.titulo{
    margin-left: 25px;
    margin-top: -10px;
    color: var(--cor-de-textos);
}

.titulo:hover{
    color: var(--cor-de-hover);
}

.nomesMembros{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: -8px;
    margin-right: 10px;
}

.nomesMembros h5{
    font-size: 18px;
    color: var(--cor-de-textos);
}

.nomesMembros h5:hover{
    color: var(--cor-de-hover);
}

/* ------------------------------------- CORPO(main) ------------------------------------- */

.main{
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    border: 1px solid var(--cor-de-borda);
    height: 89vh;
    border-radius: 30px;
}

/* ------------------------------------- SECTION(impotacaoOpcaoImagem) ------------------------------------- */

.impotacaoOpcaoImagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    height: 95%;
    border: 1px solid var(--cor-de-borda);
    border-radius: 30px;
    margin-left: 1%;
    margin-top: 1%;
    background-color: var(--cor-de-fundo);
    box-shadow: -10px 0 10px 0px var(--cor-de-sombra);  
}

.impotacaoOpcaoImagem h3{
    color: var(--cor-de-textos);
    text-align: center;
    margin-top: 2px;
}

/* ------------------------------------- DIV(importar) ------------------------------------- */

.importar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 12%;
    border: 1px solid var(--cor-de-borda);
    border-radius: 30px;
    box-shadow: 10px 10px 0px 0px var(--cor-de-sombra);
}

.importarParaOperacao{
    margin-top: 30px;
}

input[type="file"]{
    display: none;
}

.importar label{
    align-items: center;
    text-transform: uppercase;
    color: var(--cor-de-textos);
    background-color: var(--cor-de-fundo2);
    text-align: center;
    padding: 8px 8px;
    font-size: 13px;
    border-radius: 30px;
}

.importarParaOperacao label{
    align-items: center;
    text-transform: uppercase;
    color: var(--cor-de-textos);
    background-color: var(--cor-de-fundo2);
    text-align: center;
    padding: 8px 8px;
    font-size: 13px;
    border-radius: 30px;
}

.importar label:hover{
    background-color: rgba(2,24,58,255);
    font-weight: bold;
    color: red;
    box-shadow: 3px 3px 0px 0px var(--cor-de-sombra);
}

.importarParaOperacao label:hover{
    background-color: rgba(2,24,58,255);
    font-weight: bold;
    color: red;
    box-shadow: 3px 3px 0px 0px var(--cor-de-sombra);
}
/* ------------------------------------- DIV(opcaoDeProcesso) ------------------------------------- */

.opcaoDeProcesso{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 15px;
    width: 90%;
    height: 20%;
    border: 1px solid var(--cor-de-borda);
    border-radius: 30px;
    box-shadow: 10px 10px 0px 0px var(--cor-de-sombra);
}

.opcaoDeProcesso label {
    max-width: 100%;
    margin-top: 5px;
    font-size: 20px;
    color: var(--cor-de-textos);
    margin-bottom: 10px;
}

#opcaoDePr{
    width: 80%;
    height: 20%;
    border-radius: 30px;
    margin-top: 10px;
    background-color: var(--cor-de-fundo2);
    color: white;
    text-align: center;
}

#opcaoDePr:hover{
    background-color: rgba(2,24,58,255);
    font-weight: bold;
    color: red;
    box-shadow: 3px 3px 0px 0px var(--cor-de-sombra);
}

#opcaoDePr:disabled{
    background-color: black;
    color: black;
    cursor: not-allowed;
}

#opcaoDePr:disabled:hover{
    background-color: black;
    color: black;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7)
}

/* ------------------------------------- DIV(opcaoFiltro) ------------------------------------- */

.opcaoFiltro, .opcaoOpMorfologicos, .opcaoTransImagem{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    text-align: center;
    width: 90%;
    height: 53%;
    border: 1px solid var(--cor-de-borda);
    border-radius: 30px;
    box-shadow: 10px 10px 0px 0px var(--cor-de-sombra);
}

.opcaoFiltro, .opcaoOpMorfologicos, .opcaoTransImagem label {
    margin-top: 20px;
    font-size: 20px;
    color: var(--cor-de-textos);
    margin-bottom: 10px;
}

#opcoes, #opcoesOp{    
    width: 80%;
    height: 8%;
    border-radius: 30px;
    background-color: var(--cor-de-fundo2);
    color: white;
    text-align: center;
    margin-top: 15px;
}

#opcoes:hover, #opcoesOp:hover{
    background-color: rgba(2,24,58,255);
    font-weight: bold;
    color: red;
    box-shadow: 3px 3px 0px 0px var(--cor-de-sombra);
}

#opcoes:disabled, #opcoesOp:disabled{
    background-color: black;
    color: black;
    cursor: not-allowed;
}

#opcoes:disabled:hover, #opcoesOp:disabled:hover{
    background-color: black;
    color: black;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7)
}

/* ------------------------------------- DIV(infoFilto) ------------------------------------- */

.infoFiltro, .infoOpMorfologicos h4{
    font-size: 25px;
    color: white;
    margin-top: 5px;
    margin-bottom: 0;
}

.infoFiltro, .infoOpMorfologicos h6{
    font-size: 15px;
    color: white;
    margin-top: 15px;
    margin-bottom: 1px;
}

.infoFiltro, .infoOpMorfologicos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 15px;
    margin-left: 2.5%;
    margin-right: 2.5%;
    width: 20%;
    height: 80%;
    border: 1px solid var(--cor-de-borda);
    border-radius: 30px;
    box-shadow: 10px 10px 0px 0px var(--cor-de-sombra);
}

.matriz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.linha {
    display: flex;
    justify-content: center;
    align-items: center;
}

.linha:first-child{
    margin-top: 5px;
}

.celula {
    width: 60px; /* Largura das células, ajuste conforme necessário */
    height: 30px; /* Altura das células, ajuste conforme necessário */
    border: 1px solid black; /* Adiciona uma borda preta para visualização */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor-de-fundo2);
    color: white;
    font-size: 15px;
    text-align: left;
}

.celula:hover{
    border: 1px solid red;
    color: red;
}

.celula:disabled{
    background-color: black;
    color: black;
    cursor: not-allowed;
    border: 1px solid black;
}

.celula:disabled:hover{
    background-color: black;
    color: black;
}

.valorParaFiltroHB{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
}

.valorParaFiltroHB input[type="number"]{
    width: 40px; /* Largura das células, ajuste conforme necessário */
    height: 15px; /* Altura das células, ajuste conforme necessário */
    border: 1px solid black; /* Adiciona uma borda preta para visualização */
    justify-content: center;
    align-items: center;
    background-color: var(--cor-de-fundo2);
    color: white;
    font-size: 15px;
    text-align: left;
    padding: 5px;
}

.valorParaFiltroHB input[type="number"]:hover{
    border: 1px solid red;
    color: red;
}

#setarHBNaMatriz{
    background-color: var(--cor-de-fundo2);
    color: var(--cor-de-textos);
    padding: 5px 5px;
    border-radius: 20px;
    font-size: 15px;
}

#setarHBNaMatriz:hover{
    background-color: rgba(2,24,58,255);
    color: red;
    box-shadow: -5px 5px 5px 0px var(--cor-de-sombra);
}

#setarHBNaMatriz:disabled{
    background-color: black;
    color: black;
    cursor: not-allowed;
}

#setarHBNaMatriz:disabled:hover{
    background-color: black;
    color: black;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7)
}

.ajusteDePixel input[type="radio"]{
    margin-top: 20%;
    margin-bottom: 10%;
}

.ajusteDePixel label {    
    font-size: 15px; /* Tamanho da fonte */
    color: var(--cor-de-textos); /* Cor do texto */
  }

/* ------------------------------------- SECTION(visualizacaoImagens) ------------------------------------- */

.visualizacaoImagens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 95%;
    border: 1px solid var(--cor-de-borda);
    border-radius: 30px;
    margin-right: 1%;
    margin-top: 1%;
    background-color: var(--cor-de-fundo);
    box-shadow: -10px 10px 10px 0px var(--cor-de-sombra); 
}

/* ------------------------------------- DIV IMAGEM ENVIADA(imagemImportadaFiltro) ------------------------------------- */

.imagemImportadaFiltro {
    /* height: 90%; */
    /* width: 35%; */
    align-items: center;
    justify-content: center;
}

.imagemImportadaFiltro canvas {
    padding: 0;
    margin: auto;
    margin-top: 2.5%;
    display: block;
    /* width: 95%; */
    height: 95%;
    background-color: white;
}

.imagemBinaria {
    /* height: 90%; */
    /* width: 35%; */
    align-items: center;
    justify-content: center;
}

.imagemBinaria canvas {
    padding: 0;
    margin: auto;
    margin-top: 2.5%;
    display: block;
    /* width: 95%; */
    height: 95%;
    background-color: white;
}

/* ------------------------------------- BOTÃO DA APLICAÇÃO DOS FILTROS(btnAplicarFilto) ------------------------------------- */

.botaoAplicar, .botaoAplicarOp{
    margin-left: 2%;
    margin-right: 2%;
}

.btnAplicarFilto{
    margin-top: 5px;
    background-color: var(--cor-de-fundo2);
    color: var(--cor-de-textos);
    padding: 5px 10px;
    border-radius: 20px;
    font-size: 15px;
}

.btnAplicarFilto:hover{
    background-color: rgba(2,24,58,255);
    color: red;
    box-shadow: -5px 5px 5px 0px var(--cor-de-sombra);
}

.btnAplicarFilto:disabled{
    background-color: black;
    color: black;
    cursor: not-allowed;
}

.btnAplicarFilto:disabled:hover{
    background-color: black;
    color: black;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7)
}

/* ------------------------------------- DIV IMAGEM FILTRADA(imagemFiltrada) ------------------------------------- */

.imagemFiltradaFiltro{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-right: 5px;
    width: 50%;   /* 30% da largura do elemento pai */
    height: 95%;  /* 90% da altura do elemento pai */
    
}

.imagemFiltradaFiltro canvas {
    padding: 0;
    margin: auto;
    margin-top: 2.5%;
    
    /* width: 95%; */
    /* height: 95%; */
    background-color: white;
}

.processoMorfologicos1  {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.processoMorfologicos1 canvas {
    padding: 0;
    margin: auto;
    margin-top: 2.5%;
    /* width: 95%; */
    height: 95%;
    background-color: white;
}

.processoMorfologicos2{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.processoMorfologicos2 canvas {
    padding: 0;
    margin: auto;
    margin-top: 2.5%;
    display: flex;
    /* width: 95%; */
    height: 95%;
    background-color: white;
}

.btnMostrarHistograma{
    margin-top: 30px;
}


/* ------------------------------------- DIV DA PARTE DO HISTOGRAMA (divParteHistrograma) ------------------------------------- */

.divParteHistrograma{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(2,24,58,0.8);
    border: 2px solid var(--cor-de-borda);
    width: 97%; /* Ajuste conforme necessário */
    height: 93%; /* Ajuste conforme necessário */
    overflow: auto;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
}

.divParteHistrograma_Saidas{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    margin-left: 0.5%;
    margin-right: 0.5%;
    border: 1px solid var(--cor-de-borda);
    width: 48%;
    height: 99%;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.9);
}

.btnOcultarHistograma {
    padding-top: 5px;
    margin-top: -45%;
    margin-left: .9%;
    margin-right: 0;
}

.btnOcultarHistograma button {
    width: 30px; /* Define a largura do botão */
    height: 30px; /* Define a altura do botão */
    border-radius: 50%; /* Deixa o botão redondo */
    background-color: rgba(255, 0, 0, 0.5);
    border: 1px solid red;
    color: white;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.btnOcultarHistograma button:hover{
    background-color:  rgba(255, 0, 0, 1);
    border: 1px solid var(--cor-de-borda);
    font-weight: bold;
}

.imagens{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 5px;
    width: 20%;   /* 30% da largura do elemento pai */
    height: 95%;  /* 90% da altura do elemento pai */
    /*border: 1px solid var(--cor-de-borda);
    background-color: transparent   ;
    box-shadow: 10px 10px 10px 0px var(--cor-de-sombra);
    border-radius: 5px;*/
}

/*Canvas das imagens do histograma*/
.imagensDeSaida{
    margin-top: 1%;
    padding: 0;
    width: 30%;
    height: 30%;
    border: 1px solid var(--cor-de-borda);
    margin-bottom: 2%;
    background-color: white;
}

/*Distribuição dos tons*/
.distribuicaoDeTons{
    width: 98%;
    height: 60%;
    border: 1px solid var(--cor-de-borda);
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 30px;
}

#parteDoDegradePretoBranco{
    width: 90%;
    height: 4%;
    border-radius: 30px;
    background: linear-gradient(to right, 
    #000000, #010101, #020202, #030303, #040404, #050505, #060606, #070707, #080808, #090909, 
    #0A0A0A, #0B0B0B, #0C0C0C, #0D0D0D, #0E0E0E, #0F0F0F, #101010, #111111, #121212, #131313, 
    #141414, #151515, #161616, #171717, #181818, #191919, #1A1A1A, #1B1B1B, #1C1C1C, #1D1D1D, 
    #1E1E1E, #1F1F1F, #202020, #212121, #222222, #232323, #242424, #252525, #262626, #272727, 
    #282828, #292929, #2A2A2A, #2B2B2B, #2C2C2C, #2D2D2D, #2E2E2E, #2F2F2F, #303030, #313131, 
    #323232, #333333, #343434, #353535, #363636, #373737, #383838, #393939, #3A3A3A, #3B3B3B, 
    #3C3C3C, #3D3D3D, #3E3E3E, #3F3F3F, #404040, #414141, #424242, #434343, #444444, #454545, 
    #464646, #474747, #484848, #494949, #4A4A4A, #4B4B4B, #4C4C4C, #4D4D4D, #4E4E4E, #4F4F4F, 
    #505050, #515151, #525252, #535353, #545454, #555555, #565656, #575757, #585858, #595959, 
    #5A5A5A, #5B5B5B, #5C5C5C, #5D5D5D, #5E5E5E, #5F5F5F, #606060, #616161, #626262, #636363, 
    #646464, #656565, #666666, #676767, #686868, #696969, #6A6A6A, #6B6B6B, #6C6C6C, #6D6D6D, 
    #6E6E6E, #6F6F6F, #707070, #717171, #727272, #737373, #747474, #757575, #767676, #777777, 
    #787878, #797979, #7A7A7A, #7B7B7B, #7C7C7C, #7D7D7D, #7E7E7E, #7F7F7F, #808080, #818181, 
    #828282, #838383, #848484, #858585, #868686, #878787, #888888, #898989, #8A8A8A, #8B8B8B, 
    #8C8C8C, #8D8D8D, #8E8E8E, #8F8F8F, #909090, #919191, #929292, #939393, #949494, #959595, 
    #969696, #979797, #989898, #999999, #9A9A9A, #9B9B9B, #9C9C9C, #9D9D9D, #9E9E9E, #9F9F9F, 
    #A0A0A0, #A1A1A1, #A2A2A2, #A3A3A3, #A4A4A4, #A5A5A5, #A6A6A6, #A7A7A7, #A8A8A8, #A9A9A9, 
    #AAAAAA, #ABABAB, #ACACAC, #ADADAD, #AEAEAE, #AFAFAF, #B0B0B0, #B1B1B1, #B2B2B2, #B3B3B3, 
    #B4B4B4, #B5B5B5, #B6B6B6, #B7B7B7, #B8B8B8, #B9B9B9, #BABABA, #BBBBBB, #BCBCBC, #BDBDBD, 
    #BEBEBE, #BFBFBF, #C0C0C0, #C1C1C1, #C2C2C2, #C3C3C3, #C4C4C4, #C5C5C5, #C6C6C6, #C7C7C7, 
    #C8C8C8, #C9C9C9, #CACACA, #CBCBCB, #CCCCCC, #CDCDCD, #CECECE, #CFCFCF, #D0D0D0, #D1D1D1, 
    #D2D2D2, #D3D3D3, #D4D4D4, #D5D5D5, #D6D6D6, #D7D7D7, #D8D8D8, #D9D9D9, #DADADA, #DBDBDB, 
    #DCDCDC, #DDDDDD, #DEDEDE, #DFDFDF, #E0E0E0, #E1E1E1, #E2E2E2, #E3E3E3, #E4E4E4, #E5E5E5, 
    #E6E6E6, #E7E7E7, #E8E8E8, #E9E9E9, #EAEAEA, #EBEBEB, #ECECEC, #EDEDED, #EEEEEE, #EFEFEF, 
    #F0F0F0, #F1F1F1, #F2F2F2, #F3F3F3, #F4F4F4, #F5F5F5, #F6F6F6, #F7F7F7, #F8F8F8, #F9F9F9, 
    #FAFAFA, #FBFBFB, #FCFCFC, #FDFDFD, #FEFEFE, white);
}